body{
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.login{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    display: flex;
    flex-direction: column;
    padding: 0 40px 25px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
    width: 200px;
    height: 300px;
    margin: 5% auto;
}

h3{
    font-weight: normal;
    text-align: center;
}

label{
    font-weight: normal;
    padding-bottom: 5px;
}

input{
    width: 250px;
    height: 30px;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 15px;
    
}

input:focus{
    outline: 2px solid purple;  
}

button{
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 17px black;
    height: 30px;
    color: white;
    background-color: magenta;
    text-align: center;
    align-content: center;
}

.bordered-text{
    border: 1px solid black;
}

button:hover{
    cursor: pointer;
}

hr{
  border: none;
  border-top: 1px solid rgb(187, 187, 187);
  margin: 20px 0;
}

a,span{
    text-align: center;
}